<%= simple_form_for(@hotel) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :state_code %>
    <%= f.input :zip_code %>
    <%= f.input :phone_number %>
    <%= f.input :url %>
    <%= f.input :off_site %>
    <%= f.input :water_sports %>
    <%= f.input :marina %>
    <%= f.input :beach %>
    <%= f.input :tennis %>
    <%= f.input :biking %>
    <%= f.input :suites %>
    <%= f.input :concierge_floor %>
    <%= f.input :room_service %>
    <%= f.input :wired_internet %>
    <%= f.input :wireless_internet %>
    <%= f.input :num_rooms %>
    <%= f.input :cost_range %>
    <%= f.input :shuttle_to_parks %>
    <%= f.input :cost_estimate %>
    <%= f.input :lodging_area_code %>
    <%= f.input :category_code %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
