<div class="overlay">
    <div class="modal happy-hour-modal" style="top: 0px;">
        <button class="close-modal">×</button>
    
<div id="modal-map" class="leaflet-container leaflet-fade-anim" tabindex="0"></div>
    
    
        <div class="wrapper"><h1 class="title"><%= hotel.name %></h1>
        <section class="location">
            <p class="coordinates">
                <span class="lat"><%= hotel.foursquare_review_by_venue_id.lat %></span>
                <span class="lon"><%= hotel.foursquare_review_by_venue_id.lng %></span>
            </p>
            <p class="address">
                <%= hotel.address %>
            </p>
            <p class="contact-info">
                <span class="phone-number"><%= hotel.phone_number %></span>
                <span class="website">
                     | <%= link_to "website", hotel.wdw_uri, target: "_blank" %></a>
                     | <%= link_to "tips, photos", hotel_path(hotel) %>
                 </span>
            </p>
        </section>
        </div>
    </div>
</div>

</section></div></div></div>
