<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hotel.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hotel.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @hotel.city %>
</p>

<p>
  <strong>State code:</strong>
  <%= @hotel.state_code %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @hotel.zip_code %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @hotel.phone_number %>
</p>

<p>
  <strong>Url:</strong>
  <%= @hotel.url %>
</p>

<p>
  <strong>Off site:</strong>
  <%= @hotel.off_site %>
</p>

<p>
  <strong>Water sports:</strong>
  <%= @hotel.water_sports %>
</p>

<p>
  <strong>Marina:</strong>
  <%= @hotel.marina %>
</p>

<p>
  <strong>Beach:</strong>
  <%= @hotel.beach %>
</p>

<p>
  <strong>Tennis:</strong>
  <%= @hotel.tennis %>
</p>

<p>
  <strong>Biking:</strong>
  <%= @hotel.biking %>
</p>

<p>
  <strong>Suites:</strong>
  <%= @hotel.suites %>
</p>

<p>
  <strong>Concierge floor:</strong>
  <%= @hotel.concierge_floor %>
</p>

<p>
  <strong>Room service:</strong>
  <%= @hotel.room_service %>
</p>

<p>
  <strong>Wired internet:</strong>
  <%= @hotel.wired_internet %>
</p>

<p>
  <strong>Wireless internet:</strong>
  <%= @hotel.wireless_internet %>
</p>

<p>
  <strong>Num rooms:</strong>
  <%= @hotel.num_rooms %>
</p>

<p>
  <strong>Cost range:</strong>
  <%= @hotel.cost_range %>
</p>

<p>
  <strong>Shuttle to parks:</strong>
  <%= @hotel.shuttle_to_parks %>
</p>

<p>
  <strong>Cost estimate:</strong>
  <%= @hotel.cost_estimate %>
</p>

<p>
  <strong>Lodging area code:</strong>
  <%= @hotel.lodging_area_code %>
</p>

<p>
  <strong>Category code:</strong>
  <%= @hotel.category_code %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @hotel.theme %>
</p>

<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
