<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hotel.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hotel.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @hotel.city %>
</p>

<p>
  <strong>State code:</strong>
  <%= @hotel.state_code %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @hotel.zip_code %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @hotel.phone_number %>
</p>

<p>
  <strong>Url:</strong>
  <%= @hotel.wdw_uri %>
</p>

<p>
  <strong>Off site:</strong>
  <%= @hotel.off_site %>
</p>

<p>
  <strong>Water sports:</strong>
  <%= @hotel.water_sports %>
</p>

<p>
  <strong>Marina:</strong>
  <%= @hotel.marina %>
</p>

<p>
  <strong>Beach:</strong>
  <%= @hotel.beach %>
</p>

<p>
  <strong>Tennis:</strong>
  <%= @hotel.tennis %>
</p>

<p>
  <strong>Biking:</strong>
  <%= @hotel.biking %>
</p>

<p>
  <strong>Suites:</strong>
  <%= @hotel.suites %>
</p>

<p>
  <strong>Concierge floor:</strong>
  <%= @hotel.concierge_floor %>
</p>

<p>
  <strong>Room service:</strong>
  <%= @hotel.room_service %>
</p>

<p>
  <strong>Wired internet:</strong>
  <%= @hotel.wired_internet %>
</p>

<p>
  <strong>Wireless internet:</strong>
  <%= @hotel.wireless_internet %>
</p>

<p>
  <strong>Num rooms:</strong>
  <%= @hotel.num_rooms %>
</p>

<p>
  <strong>Cost range:</strong>
  <%= @hotel.cost_range %>
</p>

<p>
  <strong>Shuttle to parks:</strong>
  <%= @hotel.shuttle_to_parks %>
</p>

<p>
  <strong>Cost estimate:</strong>
  <%= @hotel.cost_estimate %>
</p>

<p>
  <strong>Lodging area code:</strong>
  <%= @hotel.lodging_area_code %>
</p>

<p>
  <strong>Category code:</strong>
  <%= @hotel.category_code %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @hotel.theme %>
</p>

<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>

<div class="overlay"><div class="modal happy-hour-modal" style="top: 0px;"><button class="close-modal">×</button><div id="modal-map" class="leaflet-container leaflet-fade-anim" tabindex="0"><div class="leaflet-map-pane" style="transform: translate3d(0px, 0px, 0px);"><div class="leaflet-tile-pane"><div class="leaflet-layer"><div class="leaflet-tile-container"></div><div class="leaflet-tile-container"></div></div><div class="leaflet-layer"><div class="leaflet-tile-container"></div><div class="leaflet-tile-container leaflet-zoom-animated"><img class="leaflet-tile leaflet-tile-loaded" style="height: 256px; width: 256px; transform: translate3d(-139px, -180px, 0px);" src="http://b.tiles.mapbox.com/v3/vladigleba.map-5xg3ep2l/17/20867/46876.png"><img class="leaflet-tile leaflet-tile-loaded" style="height: 256px; width: 256px; transform: translate3d(117px, -180px, 0px);" src="http://a.tiles.mapbox.com/v3/vladigleba.map-5xg3ep2l/17/20868/46876.png"><img class="leaflet-tile leaflet-tile-loaded" style="height: 256px; width: 256px; transform: translate3d(-139px, 76px, 0px);" src="http://a.tiles.mapbox.com/v3/vladigleba.map-5xg3ep2l/17/20867/46877.png"><img class="leaflet-tile leaflet-tile-loaded" style="height: 256px; width: 256px; transform: translate3d(117px, 76px, 0px);" src="http://b.tiles.mapbox.com/v3/vladigleba.map-5xg3ep2l/17/20868/46877.png"></div></div></div><div class="leaflet-objects-pane"><div class="leaflet-shadow-pane"></div><div class="leaflet-overlay-pane"></div><div class="leaflet-marker-pane"><img src="http://a.tiles.mapbox.com/v3/marker/pin-m-circle+00607d.png" class="leaflet-marker-icon leaflet-zoom-animated leaflet-clickable" style="margin-left: -15px; margin-top: -35px; width: 30px; height: 70px; transform: translate3d(160px, 125px, 0px); z-index: 125;" title="1230 NW Hoyt St" tabindex="0"></div><div class="leaflet-popup-pane"></div></div></div><div class="leaflet-control-container"><div class="leaflet-top leaflet-left"><div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in" href="#" title="Zoom in">+</a><a class="leaflet-control-zoom-out" href="#" title="Zoom out">-</a></div></div><div class="leaflet-top leaflet-right"><div class="leaflet-control-grid map-tooltip leaflet-control" style="display: none;"><a class="close" href="#" title="close">close</a><div class="map-tooltip-content"></div></div></div><div class="leaflet-bottom leaflet-left"></div><div class="leaflet-bottom leaflet-right"><div class="map-legends wax-legends leaflet-control" style="display: none;"></div><div class="mapbox-control-info mapbox-small mapbox-control-info-right leaflet-control" style="display: block;"><div class="map-info-container"><a href="https://www.mapbox.com/about/maps/" target="_blank">© Mapbox</a> <a href="http://www.openstreetmap.org/about/" target="_blank">© OpenStreetMap</a> <a class="mapbox-improve-map" href="https://www.mapbox.com/map-feedback/#/-122.684/45.527/17" target="_blank">Improve this map</a></div><a class="mapbox-info-toggle mapbox-icon mapbox-icon-info" href="#"></a></div></div></div></div><div class="wrapper"><h1 class="title">fratelli ristorante &amp; bar</h1><section class="location"><p class="coordinates"><span class="lat">45.5271502</span><span class="lon">-122.6838655</span></p><p class="address">1230 NW Hoyt St</p><p class="contact-info"><span class="phone-number">503-241-8800</span><span class="website"> | <a class="link" href="http://fratelliportland.com">website</a></span></p><p class="happy-hour" id="happy-hour-1"><span class="days">Everyday</span>, <span class="time">4:30pm–6:00pm</span> (<span class="kind">food+drinks</span>)</p><p class="happy-hour happening-now" id="happy-hour-2"><img alt="Checkmark" class="denote-happening-now" src="/assets/checkmark-bbe08b886375300aa7fe115a415e067a.svg" height="15"><span class="days">Saturday–Sunday</span>, <span class="time">9:00pm–11:00pm</span> (<span class="kind">food+drinks</span>)</p><p class="happy-hour" id="happy-hour-3"><span class="days">Monday–Friday</span>, <span class="time">9:00pm–10:00pm</span> (<span class="kind">food+drinks</span>)</p><ul class="happy-hour-buttons"><li><button class="like-button" type="button"><img alt="Thumbs up" src="/assets/thumbs-up-5541b73c746b5a71e50dbb86f2ebb408.svg"><span class="like-text">like</span><span class="like-count">0</span></button></li><li><button class="update-happy-hour-button" type="button">update</button></li></ul><form accept-charset="UTF-8" action="/update" class="update-form" data-remote="true" id="new_update" method="post" style="display: none;"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"></div><section class="modal-body"><fieldset class="form-group"><input id="update_name" name="update[name]" value="fratelli ristorante &amp; bar" type="hidden"><div class="modal-field address-field"><label for="update_address">address</label><input class="text-field" id="update_address" name="update[address]" type="text"></div><div class="modal-field phone-number-field float"><label for="update_phone_number">phone number</label><input class="text-field" id="update_phone_number" name="update[phone_number]" type="tel"></div><div class="modal-field website-field float"><label for="update_website">website</label><input class="text-field" id="update_website" name="update[website]" type="url"></div></fieldset><fieldset class="happy-hour-1 form-group"><div class="modal-field days-field"><label for="update_days">day(s)</label><div class="checkbox-field"><input name="update[sunday]" value="0" type="hidden"><input id="update_sunday" name="update[sunday]" value="1" type="checkbox"><label for="update_sunday">sunday</label></div><div class="checkbox-field"><input name="update[monday]" value="0" type="hidden"><input id="update_monday" name="update[monday]" value="1" type="checkbox"><label for="update_monday">monday</label></div><div class="checkbox-field"><input name="update[tuesday]" value="0" type="hidden"><input id="update_tuesday" name="update[tuesday]" value="1" type="checkbox"><label for="update_tuesday">tuesday</label></div><div class="checkbox-field"><input name="update[wednesday]" value="0" type="hidden"><input id="update_wednesday" name="update[wednesday]" value="1" type="checkbox"><label for="update_wednesday">wednesday</label></div><div class="checkbox-field"><input name="update[thursday]" value="0" type="hidden"><input id="update_thursday" name="update[thursday]" value="1" type="checkbox"><label for="update_thursday">thursday</label></div><div class="checkbox-field"><input name="update[friday]" value="0" type="hidden"><input id="update_friday" name="update[friday]" value="1" type="checkbox"><label for="update_friday">friday</label></div><div class="checkbox-field"><input name="update[saturday]" value="0" type="hidden"><input id="update_saturday" name="update[saturday]" value="1" type="checkbox"><label for="update_saturday">saturday</label></div></div><div class="modal-field start-time-field float"><label for="update_start_time">start time</label><select id="update_start_hour" name="update[start_hour]"><option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option></select><select id="update_start_minute" name="update[start_minute]"><option value="00">00</option>
<option value="30">30</option></select><select id="update_start_day_period" name="update[start_day_period]"><option value="am">am</option>
<option value="pm">pm</option></select></div><div class="modal-field end-time-field float"><label for="update_end_time">end time</label><select id="update_end_hour" name="update[end_hour]"><option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option></select><select id="update_end_minute" name="update[end_minute]"><option value="00">00</option>
<option value="30">30</option></select><select id="update_end_day_period" name="update[end_day_period]"><option value="am">am</option>
<option value="pm">pm</option></select></div><div class="modal-field type-field clear"><label for="update_type">type</label><select id="update_type" name="update[type]"><option value="food">food</option>
<option value="drinks">drinks</option>
<option value="food+drinks">food+drinks</option></select></div><div class="modal-field checkbox-field"><input name="update[delete_happy_hour]" value="0" type="hidden"><input id="update_delete_happy_hour" name="update[delete_happy_hour]" value="1" type="checkbox"><label for="update_delete_happy_hour">this happy hour no longer exists</label></div></fieldset><fieldset class="happy-hour-2 form-group"><div class="modal-field days-field"><label for="update_days">day(s)</label><div class="checkbox-field"><input name="update[sunday]" value="0" type="hidden"><input id="update_sunday" name="update[sunday]" value="1" type="checkbox"><label for="update_sunday">sunday</label></div><div class="checkbox-field"><input name="update[monday]" value="0" type="hidden"><input id="update_monday" name="update[monday]" value="1" type="checkbox"><label for="update_monday">monday</label></div><div class="checkbox-field"><input name="update[tuesday]" value="0" type="hidden"><input id="update_tuesday" name="update[tuesday]" value="1" type="checkbox"><label for="update_tuesday">tuesday</label></div><div class="checkbox-field"><input name="update[wednesday]" value="0" type="hidden"><input id="update_wednesday" name="update[wednesday]" value="1" type="checkbox"><label for="update_wednesday">wednesday</label></div><div class="checkbox-field"><input name="update[thursday]" value="0" type="hidden"><input id="update_thursday" name="update[thursday]" value="1" type="checkbox"><label for="update_thursday">thursday</label></div><div class="checkbox-field"><input name="update[friday]" value="0" type="hidden"><input id="update_friday" name="update[friday]" value="1" type="checkbox"><label for="update_friday">friday</label></div><div class="checkbox-field"><input name="update[saturday]" value="0" type="hidden"><input id="update_saturday" name="update[saturday]" value="1" type="checkbox"><label for="update_saturday">saturday</label></div></div><div class="modal-field start-time-field float"><label for="update_start_time">start time</label><select id="update_start_hour" name="update[start_hour]"><option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option></select><select id="update_start_minute" name="update[start_minute]"><option value="00">00</option>
<option value="30">30</option></select><select id="update_start_day_period" name="update[start_day_period]"><option value="am">am</option>
<option value="pm">pm</option></select></div><div class="modal-field end-time-field float"><label for="update_end_time">end time</label><select id="update_end_hour" name="update[end_hour]"><option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option></select><select id="update_end_minute" name="update[end_minute]"><option value="00">00</option>
<option value="30">30</option></select><select id="update_end_day_period" name="update[end_day_period]"><option value="am">am</option>
<option value="pm">pm</option></select></div><div class="modal-field type-field clear"><label for="update_type">type</label><select id="update_type" name="update[type]"><option value="food">food</option>
<option value="drinks">drinks</option>
<option value="food+drinks">food+drinks</option></select></div><div class="modal-field checkbox-field"><input name="update[delete_happy_hour]" value="0" type="hidden"><input id="update_delete_happy_hour" name="update[delete_happy_hour]" value="1" type="checkbox"><label for="update_delete_happy_hour">this happy hour no longer exists</label></div></fieldset><fieldset class="happy-hour-3 form-group"><div class="modal-field days-field"><label for="update_days">day(s)</label><div class="checkbox-field"><input name="update[sunday]" value="0" type="hidden"><input id="update_sunday" name="update[sunday]" value="1" type="checkbox"><label for="update_sunday">sunday</label></div><div class="checkbox-field"><input name="update[monday]" value="0" type="hidden"><input id="update_monday" name="update[monday]" value="1" type="checkbox"><label for="update_monday">monday</label></div><div class="checkbox-field"><input name="update[tuesday]" value="0" type="hidden"><input id="update_tuesday" name="update[tuesday]" value="1" type="checkbox"><label for="update_tuesday">tuesday</label></div><div class="checkbox-field"><input name="update[wednesday]" value="0" type="hidden"><input id="update_wednesday" name="update[wednesday]" value="1" type="checkbox"><label for="update_wednesday">wednesday</label></div><div class="checkbox-field"><input name="update[thursday]" value="0" type="hidden"><input id="update_thursday" name="update[thursday]" value="1" type="checkbox"><label for="update_thursday">thursday</label></div><div class="checkbox-field"><input name="update[friday]" value="0" type="hidden"><input id="update_friday" name="update[friday]" value="1" type="checkbox"><label for="update_friday">friday</label></div><div class="checkbox-field"><input name="update[saturday]" value="0" type="hidden"><input id="update_saturday" name="update[saturday]" value="1" type="checkbox"><label for="update_saturday">saturday</label></div></div><div class="modal-field start-time-field float"><label for="update_start_time">start time</label><select id="update_start_hour" name="update[start_hour]"><option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option></select><select id="update_start_minute" name="update[start_minute]"><option value="00">00</option>
<option value="30">30</option></select><select id="update_start_day_period" name="update[start_day_period]"><option value="am">am</option>
<option value="pm">pm</option></select></div><div class="modal-field end-time-field float"><label for="update_end_time">end time</label><select id="update_end_hour" name="update[end_hour]"><option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option></select><select id="update_end_minute" name="update[end_minute]"><option value="00">00</option>
<option value="30">30</option></select><select id="update_end_day_period" name="update[end_day_period]"><option value="am">am</option>
<option value="pm">pm</option></select></div><div class="modal-field type-field clear"><label for="update_type">type</label><select id="update_type" name="update[type]"><option value="food">food</option>
<option value="drinks">drinks</option>
<option value="food+drinks">food+drinks</option></select></div><div class="modal-field checkbox-field"><input name="update[delete_happy_hour]" value="0" type="hidden"><input id="update_delete_happy_hour" name="update[delete_happy_hour]" value="1" type="checkbox"><label for="update_delete_happy_hour">this happy hour no longer exists</label></div></fieldset><fieldset class="form-group"><div class="modal-field comment-field float"><label for="update_comment">comment (optional)</label><input class="text-field" id="update_comment" name="update[comment]" type="text"></div><div class="modal-field email-field float"><label for="update_email">your email (optional)</label><input class="text-field" id="update_email" name="update[email]" type="email"></div></fieldset><div class="update-form-footer"><button class="button-default close-update" type="button">cancel</button><input class="button-primary submit-update" name="commit" value="submit" type="submit"></div></section></form></section></div></div></div>
